*{
	box-sizing:border-box;
    margin: 0;
    padding: 0;
}

a,h1,h2,h3,h4,h5,h6,span,p,a,input,button,div,span{
	font-family: "Microsoft JhengHei","Heiti TC","sans-serif";
	text-decoration: none;
}
img{
	display: block;
}
html,body{
	width: 100%;
	height: auto;
	// overflow: hidden;
    -webkit-overflow-scrolling: touch;  
}
a{
    cursor pointer
}


// @font-face {
//     font-family: "name";
//     src: url("../font/file.TTF");
// }
// .fonts{
// 	font-family: "name";
// }

/* 
@include transition(all 0.4s);
@media screen and (min-width:750px) and (max-width: 1000px) {}
@media screen and (max-width:1000px) {}
 */