/*
    Stylus 的 mixins 不用加 @mixins
*/
$hideText(){
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
$debug_color_box_1{
	background-color: #ddd;
}
$debug_color_box_2{
	background-color: #ccc;
}
$debug_color_box_3{
	background-color: #888;
}
$debug_color_box_4{
	background-color: #EEC88A;
}
$debug_color_box_5{
	background-color: #B3CE97;
}
$debug_color_box_6{
	background-color: red;
}
$debug_color_box_7{
	background-color: #EFAEB6;
}